/* goegle font  */
  @import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&family=Poppins:wght@300;400;500;600;700&display=swap');


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family:'Poppins', sans-serif ;
outline: none;
border: none;
text-decoration: none;
text-transform: capitalize;
transition: .2s linear;
}


:root {
    --biru:#1225a0;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

section{
    background: #eee;
    padding: 7rem 9% ;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color: #0c0000;
    padding: 1rem;
    margin: 2rem 0;
    background-color: rgba(7, 0, 7, 0.05);
}

.heading span{
    color: rgb(80, 80, 204);
}


.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:#0f0a0a ;
    color: #fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}

.btn:hover{
    background: var(--biru);
}



/* Home */
header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background: transparent;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0  .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color: #1f1a1a;
    font-weight: bolder;
}

header .logo span {
    color: var(--biru);
}

header .navbar  a{
    font-size: 2rem;
    padding: 0 1.5rem;
    color: #0b0000;
}

header .navbar a:hover{
    color: blue;
}

header .icons a{
    font-size: 2.5rem;
    color: #070000;
    margin-left: 1.5rem;
}

header .icons  a:hover{
    color:blue;
}

header #toggler{
    display: none;
}

header .bx-menu {
    font-size: 3rem;
    color: #3a3232;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: 1rem solid rgba(0,0,0,.3);
    display: none;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../img/fto.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color: #0c0000;
}

.home .content span{
    font-size: 3.5rem;
    color: var(--biru);
    padding: 1rem 0;
    line-height: 1.5;
}

.home .content p{
    font-size: 1.5rem;
    color:#140d0d ;
    padding: 1rem 0;
    line-height: 1.5;
}



/* About Us */
.about .row{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
}

.about .row .video-container{
    flex:1 1 40rem;
    position: relative;
}

.about .row .video-container video{
    width:100%;
    border:1.5rem solid #f7f3f3;
    border-radius: .5rem;
    box-shadow: 0.5rem 1rem rgba(0,0,0,.1);
    height: 100%;
    object-fit: cover;
}

.about .row .video-container h3{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    background: #fff;
    width: 100%;
    padding: 1rem 2rem;
    text-align: center;
    mix-blend-mode: screen;
}


.about .row .content{
    flex:1 1 40rem;
}

.about .row .content h3{
    font-size: 1.5rem;
    color:#0c0a0a ;
}

.about .row .content p{
    font-size: 1.5rem;
    color: #0a0000;
    padding: .5rem 0;
    padding-top: 1rem;
    line-height: 1.5;
}

.icons-container{
    background-color: #eee;
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.icons-container .icons{
    background: #fff;
    border:.1rem solid rgba(0,0,0,.1);
    padding: 2rem;
    display: flex;
    align-items: center;
    flex:1 1 25rem;

}

.icons-container .icons img{
    height:5rem;
    margin-right: 2rem;
}

.icons-container .icons h3{
    color: #0a0000;
    padding-bottom: .5rem;
    font-size: 1.5rem;
}

.icons-container .icons span{
   color: #0c0000;
    font-size: 1.5rem;
}


/* Contact Us */
.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact .row form{
    flex: 1 1 40rem;
    padding: 2rem 2.5rem;
    box-shadow: 0.5rem 1.5rem rgba(0,0,0,.1);
    border: .1rem solid rgba(0,0,0,.1);
    background: #828288;
    border-radius: .5rem;
}

.contact .image{
    flex:1 1 40rem ; 
    height:10;
}

.contact .image img{
    width: 100%;
}

.contact .row form .box{
    padding: 1rem;
    font-size: 1.7rem;
    color: #160a0a;
    text-transform: none;
    border: .1rem solid rgba(8, 0, 0, 0.1);
    border-radius: .5rem;
    margin: .7rem 0;
    width: 100%;
}

.contact .row form .box:focus{
    border-color: var(--biru);
}

.contact .row form textarea{
    height: 15rem;
    resize: none;
}

/* review */
.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem ;
}

.review .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(8, 0, 0, 0.1);
    border-radius: .5rem;
    padding:3rem 2rem;
    position: relative;
}

.review .box-container .box .stars i{
    color: var(--biru);
    font-size: 2rem;
}

.review .box-container .box p{
    color: #1f1a1a;
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.review .box-container .box .user{
    display: flex;
    align-items: center;
    padding-top: 2rem;
}

.review .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
}

.review .box-container .box .user h3{
    font-size: 2rem;
    color: #3a3232;
} 
 
.review .box-container .box .user span{
    font-size: 2rem;
    color: #3a3232;
}    

/* footer */
.footer .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box{
    flex: 1 1 25rem;
}

.footer .box-container .box h3{
    color: #1f1a1a;
    font-size: 2.5rem;
    padding:1rem 0 ;
}

.footer .box-container .box a{
    display:block ;
    color: #160a0a;
    font-size: 1.5rem;
    padding:1rem 0 ;
}

.footer .box-container .box a:hover{
    color: var(--biru);
    text-decoration: underline;
}

.footer .credit{
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.5rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: #1f1a1a;
    border-top: .1rem solid rgba(0,0,0,.1);
}

.footer .credit span{
    color: var(--biru);
}















/* responsive */
@media (max-width:991px){
    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }

    .home{
        background-position: left;
    }
}


@media (max-width:768px){
    header .bx-menu{
        display: block;
    }
    
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background:#eee ;
        border-top: .1rem solid rgba(0,0,0,.1);
        /* clip-path: polygon(0 0, 100% 0, 100% 0, 0 0); */
    }

    header  #toggler:checked ~ .navbar{
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

    }
 
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border:.1rem solid rgba(0,0,0,.1);
        display: block;
    }

    .home .content h3{
        font-size: 5rem; 
    }

    .home .content span{
        font-size: 2.5rem;
    }

}

@media (max-width:450px){
    html{
        font-size: 50%;
    }

    .heading{
        font-size: 3rem;
    }

}





